body {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: #f2f2f2;
    padding: 30px;
    margin: 10px;
    text-align: center;
    min-width: 300px;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    padding-top: 3px;
    padding-bottom: 3px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #0f3171;
}
